<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styel.css">
    <title>Document</title>
</head>

<body>
    <nav class="navbar">
        <div class="container">
            <h1>{{task}}</h1>
        </div>
    </nav>
    <div class="container" id="form-container">
        <form>
            <label for="task">WRITE TASK</label>
            <input type="text" name="task" placeholder="Enter your task">
            <label for="description">DESCRIPTION</label>
            <input type="text" name="description" placeholder="Enter your description">
            <checkbox>
                <label for="completed">DONE</label>
                <input type="checkbox" name="completed">
            </checkbox>
            <button type="submit">Create</button>
        </form>
    </div>
    <div class="container" id="task-container">
        <ul class="task-list">
            {% for task in tasks %}
            <li>
                <div class="task">
                    <div class="task-id">Task__{{ task[0] }}</div>
                    <div class="task-title">{{ task[1] }}</div>
                    <div class="task-description">{{ task[2] }}</div>
                    <div class="task-status">Status: {{ "Completed" if task[3] else "Pending" }}</div>
                </div>
            </li>
            {% else %}
            <li><p>No tasks to display</p></li>
            {% endfor %}
        </ul>
    </div>
    
</body>

</html>